<div class="container_navbar">
    <div class="navbar_navigation">
        <div class="navbar_links_container">
            <a href="/home" class="navbar_link">Home</a>
            <a href="/" class="navbar_link">Log Out</a>
        </div>
    </div>
    <div>
        <p id="msg" class="navbar_msg">[Server] Welcome</p>
    </div>
</div>