<html>

<head>
    <link rel="stylesheet" href="../css/style_employee.css">
</head>

<body>
    <div class="header_container">
        <h1 class="header_title">Welcome</h1>
        <div class="header_links_container">
            <a href="/home" class="header_links">Home</a>
            <a href="/" class="header_links">Log Out</a>
        </div>
        <p id="msg" class="header_msg">[Server] Welcome</p>
    </div>

    <h2>Search Employee</h2>
    <div class="container_search">
        <input type="text" class="container_search_input">
        <button>Search Employee</button>
    </div>

    <h2>Employee Details</h2>
    <div class="container_employee_details"> 
        <div class="container_employee_details_container_avatar">  
            <img src="./assets/image -  b_roll - avatar placeholder 1.png" id="avatar" class="container_employee_details_container_avatar_img">
            <br>
            <input type="file" id="myFile">
            
            <script>
                var avatar = document.getElementById("avatar");
                var input_file = document.getElementById("myFile");

                input_file.addEventListener('change', (event) => {
                    const file = event.target.files[0]; // Get the selected file

                    if (file) {
                        const reader = new FileReader();
                        
                        // Define what happens when the file is read
                        reader.onload = function(e) {
                            avatar.src = e.target.result; // Set the image source to the result of FileReader
                        };
                        
                        // Read the file as a data URL
                        reader.readAsDataURL(file);
                    }
                });
            </script>
        </div>

        <div class="container_employee_details_container_information">
            <p>Name</p>
            <input type="text" id="name" class="container_employee_details_container_information_input">

            <p>Designation</p>
            <input type="text" id="designation" class="container_employee_details_container_information_input">

            <p>Email</p>
            <input type="text" id="email" class="container_employee_details_container_information_input">

            <p>Phone Number</p>
            <input type="text" id="phone" class="container_employee_details_container_information_input">

            <p>Age</p>
            <input type="text" id="age" class="container_employee_details_container_information_input">
        </div>

        <div class="container_employee_details_container_action">
            <button onclick="employee_add()">Add Employee</button>
            <button onclick="employee_update()">Update Employee</button>
            <button>Delete Employee</button>
        </div>
        
    </div>

    <script src="../js/script_employee_add.js"></script>
    <script src="../js/script_employee_search.js"></script>
    <script src="../js/script_employee_update.js"></script>
    <script src="../js/script_employee_delete.js"></script>

</body>

</html>