<html>
<head>
    <link rel="stylesheet" href="../css/style_home.css">
    <link rel="stylesheet" href="../css/style_partial_body.css">
    <link rel="stylesheet" href="../css/style_partial_navbar.css">
    <link rel="stylesheet" href="../css/style_partial_search.css">
    <link rel="stylesheet" href="../css/style_partial_section.css">
</head>

<body>
    <%- include('./partials/partial_navbar.ejs') %>
    <%- include('./partials/partial_search.ejs') %>

    <div class="section_container">
        <div>
            <h2 class="section_title">Employees</h2>
        </div>    
        <div class="section_body">
            <table class="table_container" id="employee_table">
                <tr>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Employee Designation</th>
                    <th>Employee Email</th>
                    <th>Employee Phone Number</th>
                    <th>Employee Age</th>
                </tr>
                <tr>
                    <td colspan="100" >
                        <p style="margin: 1em;">No employees to show</p>
                    </td>
                </tr>
                <tr>
                    <td class="table_button" colspan="100">
                        <button onclick="window.location.href = '/employee'">+</button>
                    </td>
                </tr>
            </table>
        </div>

        <script src="../js/script_home_employee_list.js"></script>
    </div>

</body>
</html>