<html>
<head>
    <link rel="stylesheet" href="../css/style_index.css">
    <link rel="stylesheet" href="../css/style_partial_body.css">
</head>

<body>
    <div class="header_container">
        <h1 class="header_title">Welcome</h1>
        <a href="/registration" class="header_links">Register</a>
        <p id="msg" class="header_msg">[Server] Welcome</p>
    </div>

    <div class="signup_container">
        <h2>Username</h2>
        <input type="text" id="username" class="signup_input">

        <h2>Password</h2>
        <input type="text" id="password" class="signup_input">
        
        <br>
        <br>

        <button onClick="login()" class="signup_button">Login</button>
    </div>

    <script src="../js/script_users_login.js"></script>
</body>

</html>