<html>
<head>
    <link rel="stylesheet" href="../css/style_registration.css">
</head>
<body>


    <div class="header_container">
        <h1 class="header_title">Registration</h1>
        <a href="/" class="header_links">Log In</a>
        <p id="msg" class="header_msg">[Server] Welcome</p>
    </div>

    <div class="registration_container">
        <h2>Username</h2>
        <input type="text" id="username" class="registration_input">
        <h2>Email</h2>
        <input type="text" id="email" class="registration_input">
        <h2>Name</h2>
        <input type="text" id="name" class="registration_input">
        <h2>Password</h2>
        <input type="text" id="password" class="registration_input">

        <br>
        <button onclick="register_add()" class="registration_button">Register</button>
    </div>



    <script src="../js/script_users_registration_add.js"></script>

</body>
</html>