.header_container {
    background-color: rgb(228, 228, 228);

    border: 3px solid black;
    border-radius: 25px;

    margin: 1em;
    padding: 1em;

    text-align: center;
}

.header_title {
    font-size: 3em;
}

.header_links{
    font-size: 1.5em;
    text-decoration: none;
}
.header_links:link {
    color: #4D8AB2; 
}
.header_links:visited {
    color: #4D8AB2;
}
.header_links:hover {
    color: #B2754D;
}

.signup_container {
    background-color: rgb(228, 228, 228);
    
    border: 3px solid black;
    border-radius: 25px;

    margin: 1em;
    padding: 1em;

    text-align: center;
}

.signup_input {
    width: 20em;
    height: 3em;
    border: 2px solid black;

    margin: .05em;
}

.signup_button {
    background-color: #4D8AB2;

    width: 30%;
    height: 8%;
    border: 1px solid black;
    border-radius: 25px;

    margin: 1em;

    font-size: 1.5em;
}
.signup_button:hover {
    background-color: #B2754D;
}