.table_container {
    width: 100%;
    text-align: center;
}

.table_container > tr > th {
    font-size: 1em;
}

.table_avatar{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    padding: .1em;
    margin: .1em;
}

.table_button {
    margin: 1em;
    padding: 1em;
}

.table_button button{
    width: 50px;
    height: 50px;

    border-radius: 50%;
    font-size: 3em;

    border: 5px double black;
}

.table_button button:hover{
    background-color: coral;
}

.table_button button > span {
    position: relative;
    top: -35%;
    left: -4%;
}
