.search_container{
    margin: 1em;
    padding: 1em;
    border: 3px solid black;
    background-color: rgb(228, 228, 228, 0.5);
}

.search_input{
    width: 20em;
    height: 2em;
    margin: .05em;
    border: 2px solid black;
}

.search_button{
    width: 150px;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
}
