.employee_container{
    display: grid;
}

.employee_id_container{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.employee_avatar_container{
    grid-column-start: 1;
    grid-column-end: 2;

    margin: .5em;
    padding: .15em;

    text-align: center;
}
.employee_avatar {
    border: 5px solid black;
    border-radius: 50%;
    
    width: 300px;
    height: 300px;
    
}

.employee_input_file{
    margin: 2em;
}
.employee_details_container {
    grid-column-start: 2;
    grid-column-end: 3;

    margin: .5em;
    padding: .15em;

    text-align: center;
}
.employee_details_input {
    width: 100%;
    margin: .5%;
    border: none;
    border-bottom: .15em solid black;
    font-size: 1em;
}
.employee_details_input:focus{
    outline: none;
}


.employee_options_container {
    grid-column-start: 1;
    grid-column-end: 3;

    margin: .5em;
    padding: .15em;

    text-align: center;
}
.employee_options_button{
    width: 150px;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 1em;
}